body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    display: flex;
    justify-content: flex-end;
}

#pokemon{
    position:absolute;
    top: 12vh;
    left: 7vw;
}

#tituloPokemon{
    height: 25vh;
}

#jogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    width: 50%;
}

.divisa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.botoes{
    background-color: aqua;
    border-radius: 15px;
    height: 8vh;
    width: 15vw;
}