body{
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    display: flex;
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    margin: 0;
}


#pokemon{
    position:absolute;
    top: 12vh;
    left: 7vw;
}

#tituloPokemon{
    height: 25vh;
}

#jogo{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
    height: 100vh;
    width: 60%;
}

.divisa{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#botoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

.botoes{
    background: rgb(255, 203, 5);
    border: 3px solid rgb(42, 117, 187);
    border-radius: 15px;
    height: 8vh;
    width: 17vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: large;
}